h2 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-size: 1.25rem;
}

.outer-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}

.inner-container {
  width: 65%;
}

.about-container {
  display: flex;
}

.img-container {
  width: 35%;
}

#beach-img {
  width: 70%;
  max-width: 961px;
  border-radius: 5%;
}

.text-container {
  width: 65%;
}
