h2 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-size: 1.25rem;
}

.outer-container {
  display: flex;
  justify-content: center;
}

.inner-container {
  width: 50%;
}

.about-container,
.interest-container {
  display: flex;
  padding-top: 2rem;
  align-items: center;
}

.img-container {
  width: 35%;

  display: flex;
  justify-content: center;
}

#beach-img {
  width: 85%;
  max-width: 961px;
  border-radius: 5%;
  padding-right: ;
}

#interst-img {
  width: 70%;
  max-width: 2000px;
  border-radius: 15%;
}

.text-container {
  width: 65%;
}
