<div class="outer-container">
  <div class="inner-container">
    <div class="about-container">
      <div class="img-container">
        <img
          src="/assets/images/wilmington_beach.png"
          id="beach-img"
          alt="Picture of a beach"
        />
      </div>
      <div class="text-container">
        <h2>About me</h2>
        <p>
          Hello, I'm Michael. I was born and raised in the vibrant college beach
          town of Wilmington, NC. I recently graduated from the University of
          North Carolina at Wilmington with a B.S. in Computer Science.
          Currently, I'm pursuing my M.S. in Computer Science at the University
          of Illinois at Springfield, focusing on deepening my expertise in
          Software Development and Machine Learning.
        </p>
      </div>
    </div>
    <div class="interest-container">
      <div class="text-container">
        <h2>Interests</h2>
        <p>
          I am passionate about software development and eager to apply my
          skills in innovative and collaborative environments. I enjoy exploring
          new technologies and utilizing modern programming languages to develop
          creative and efficient solutions. My commitment to staying current
          with industry trends drives me to continuously expand my knowledge and
          contribute effectively to impactful projects. projects.
        </p>
      </div>
      <div class="img-container">
        <img
          src="/assets/images/interests-picture.jpg"
          id="interst-img"
          alt=""
        />
      </div>
    </div>
    <div class="skills-container"></div>
    <!--add skills container here-->
  </div>
</div>
