<div class="outer-container">
  <div class="inner-container">
    <div class="img-container">
      <img src="assets/images/prof_pic.jpg" />
    </div>
    <div class="info-container">
      <h1>Michael Benton-Sanchez</h1>
      <h2>Aspiring Software Engineer</h2>
      <p>Wilmington, North Carolina</p>
      <div class="contact-container">
        <a href="#">Email</a>
        |
        <a href="#">LinkedIn</a>
        |
        <a href="#">GitHub</a>
        |
        <a href="#">Phone</a>
      </div>
    </div>
  </div>
</div>
